body
{
    font-family: Helvetica, sans-serif;
    letter-spacing: -0.04em;
    line-height: 1.5;
    padding: 0;
    margin: 0;
}

h1
{
    font-size: 18rem; /*288px*/
    line-height: 0.8;
    text-transform: uppercase;
    padding: 0;
    margin: 0;
}

h2
{
    font-size: 7.75rem; /*124px*/
    padding: 0;
    margin: 0;
}

h3
{
    font-size: 5rem; /*80px*/
    padding: 0;
    margin: 0;
}

h4
{
    font-size: 3rem; /*48px*/
    padding: 0;
    margin: 0;
}

p
{
    font-size: 1.125rem; /*18px*/
    padding: 0;
    margin: 0;
}

a
{
    font-size: 1.125rem; /*18px*/
    text-decoration: underline;
    color: black;
    padding: 0;
    margin: 0;
}

.u-section{
    margin: 0;
    padding-top: 7.5rem;
    padding-bottom: 7.5rem;
}

.u-container{
   max-width: 120rem;
   padding-left: 3.625rem;
   padding-right: 3.625rem;
   padding: 0;
   margin: 0;
}

.hero_section
{
    position:relative;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
    padding-top: 0rem;
    padding-bottom: 0rem;
}

.nav{
    position: fixed;
    top: 0;
    left: 0;
    color: white;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 10;
}

.menu_items{
    display: flex;

}

.menu_item{
    padding: 3rem;

}


.hero_container
{
    height: 100%;
    display: flex;
    justify-content: left;
    align-items: flex-end;
}

.hero_h1
{
    text-align: left;
    color: white;
    z-index: 2;
}

.hero_img{
    position: absolute;
    z-index: 0;
    top: 0;
    right: 0;
    width: 50%;
    height: 100%;
    background: url('images/brad.webp') center/cover no-repeat;
}

.selected_work{
    display: flex;
    justify-content: center;
    align-items: center;
}
